header{
    padding: 20px;
}

header h1{
    display: inline;
}

header .logo{
    max-width: 15%;
    max-height: 15%;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}


nav{
    position: absolute;
    top: 20px;
    right: 0;
    
}

nav li{
    display: inline;
    margin: 0 0 0 15px;    
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #BBBBBB;
    font-size: 18px;
    font-weight: bold;
    
}

nav .destaque_nav{
    color: #FD6666;
}


